#header, #footer {
  height: 5rem;
  align-items: center;
}

#header {
  border-bottom: 1px solid;
}

#footer {
  border-top: 1px solid;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav-links {
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

#auth-layout-container {
  margin: .5rem;
  height: 30rem;
  overflow: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#register-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  border-radius: 1px;
}